@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rufina:wght@400;700&display=swap');

$background: #1c1b19;
$orange: #975947;
$tan: #C7A288;
$brown: #926347;
$white: #F3F3EC;
$darkBrown: #4E3129;


$headerFont: 'Rufina', serif;
$bodyFont: 'Rosario', sans-serif;