@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import './Navbar/';

.black-bg {
    background-color: $background;
}

a {
    text-decoration: none;
}

.hf {
    font-family: $headerFont;
}

.bf {
    font-family: $bodyFont;
}